*{
    margin: 0;
    padding: 0;
}
/* navigtionbar starts here */
.d-flex li{
    display: inline;
    margin-top: 20px !important;
}

.d-flex li .fab{
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 10px !important;

}
.d-flex .input-group{
   height: 2px !important;
  
}
.navbar-brand img {
    width:160px;
}
.navbar-brand{
    left:50%;
    top:15px;
    bottom:5px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    position: absolute;
}
.header{
    background: #f5f6fc;
    margin-bottom: 80px;
}
.navbar{
    padding: 0 35px;
}
.navbar-toggler{
    border: none !important;
    outline: none !important;
    padding: 5px !important;
    margin-top: 25px !important;
    margin-bottom: 15px !important;
    line-height: 1;
   
}
.navbar-toggler.fa {
    font-size: 30px;
    cursor: pointer;

}
.navbar-nav li a{
    font-weight: 700;
    color: rgb(83, 96, 110) !important;
}
/* navigtionbar end here */
.banner-img{
    margin:80px 115px;
    width: 60%;
}
.banner-img img{
    width: 100%;
    margin-bottom: -80px;
}
.banner{
    position:relative;
}
.banner-title{
    position: absolute;
    left:50%;
    top:20%;
}
.banner-title h1{
    font-size: 55px;
    background: rgba(0,0,0,0.75);
    color:#fff;
    line-height: 60px;
    padding: 0px 10px;
    
}
/*Fashion trend style start from here */
.fashion-trend{
    padding: 100px 0;
}
.fashion-box{
    margin:80px 0;
}
.title-style {
    margin: 0px auto 80px;
    height:120px;
    width: 50%;
    max-width: 700px;
    background: #fff;
    position: relative;
    box-shadow: 0 4px 5px 0 rgba(0,0,50,0.5);
}
.title-style h1{
    padding: 40px 0;
    font-weight: 700;
    font-style: italic;
}
.title-style::after{
    content: '';
    height: 100px;
    width:200px;
    background-color: #f992a6;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
}
.title-style::before{
    content: '';
    height: 100px;
    width:200px;
    background-color: #f992a6;
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: -1;
}
.trending-img{
    position: relative;
    margin-bottom: 15px;
}
.trending-img img{
    width: 100%;
}
.btn-buy{
    width: 150px;
    padding: 10px 0;
    outline: none !important;
    border: 0;
    border-radius: 2px;
    position: absolute;
    background: #fff;
    left:50%;
    bottom: 0;
    transform: translate(-50% , 0);
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    opacity: 0;
    z-index: 1;
}
.trending-img:hover .btn-buy{
    transform: translate(-50% , 50%);
    bottom: 50%;
    opacity: 1;
}
.overlay{
   height:0;
   width: 100%;
   background: #333;
   position: absolute;
   top:0;
   opacity: 0.5;
   transition:.5s ;
}
.trending-img:hover .overlay{
    opacity: .5;
    height:100%;
}

/*Fashion trend style start from here */